.signup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 900;
	background: var(--footer-background);
	display: flex;
	/* Alterado para disposição lado a lado */
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.signup-image {
	position: relative;
	width: 50%;
	height: 100%;
}

.signup-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000b0;
}

.signup-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.signup-form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.signup-form {
	margin: 0;
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.signup-form form {
	width: 100%;
	max-width: 400px;
}

.signup-form p {
	color: #fff;
	font-size: 1rem;
}

.signup-form input, .signup-form button {
	font-size: 1.3rem;
	width: 400px;
	padding: 0 20px;
	border: 3px solid #0000;
	border-radius: 5px;
	height: 60px;
	margin-bottom: 12px;
}

.signup-form button {
	margin-top: 32px;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	background-color: var(--accent);
	cursor: pointer;
}

.signup-form button:hover  {
	background-color: var(--darker-accent);
	color: #fff;
}

.signup-form input:focus {
	outline: none;
}

.signup-form h1 {
	color: #fff;
	font-size: 2.1rem;
}

.signup-form-description {
	color: #ffffff81 !important;
	font-size: 1rem !important;
	line-height: 1.5;
	margin-bottom: 32px;
}

.privacy-policy {
	font-weight: 500;
	text-align: center;
	font-size: 0.8rem !important;
	margin: 10px 0;
}

.privacy-policy a {
	color: #3737fc;
	text-decoration: underline;
}

@media (max-width: 900px) {
	.signup-image {
		display: none;
	}
	.signup-container {
		justify-content: center;
	}
	.signup-form {
		width: auto;
	}
}