/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import '/styles/form.css';
@import '/styles/main.css';
@import '/styles/footer.css';
@import '/styles/navbar.css';
@import '/styles/menu.css';

:root {
	--font-family: "Roboto", serif;
	--background-color: #fff;
  --accent: #c4161c;
  --darker-accent: #a01414;
	--primary-color: #1f1f1f;
	--quaternary-color: #BDBDBD;
	--sextanary-color: #F2F2F2;
	--footer-background: #731f1f;
}

/* This is necessary to fix the navbar */
body {
	padding-top: 102px;
	overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
	background-color: var(--background-color);
  font-family: var(--font-family);
	color: var(--primary-color);
  line-height: 1.6;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

li {
	list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-mail-form {
	width: 100%;
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer-mail-form input {
	width: 100%;
	max-width: 300px;
}

@media (max-width: 960px) {
  .footer-mail-form {
    flex-direction: column;
    gap: 10px;
  }
  .footer-mail-form input,
  .footer-mail-form button {
		margin: 0;
    width: 100%;
		max-width: 300px;
  }
}

@media (max-width: 768px) {
	.footer-content-style {
		display: none;
	}

	.footer-mail-form h2 {
		color: #fff;
		line-height: 0.7;
	}

	.footer-mail-form p {
		color: #fff;
		font-size: 10px;
	}
}

@media (min-width: 768px) {
	.footer-mail-form h2, .footer-mail-form p {
		display: none;
	}
}